Gmail_Classifier.json
{
  "name": "Gmail Classifier",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "c293fdb1-6bc4-4cc8-bca7-a06ece12bcb9",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "4kNnGaG4HSEQrIj2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Subject: {{ $json.Subject }}\n\nEmail Body: {{ $json.snippet }}\n\nThis is an email classifier that helps me categorise emails by their correct label.",
        "categories": {
          "categories": [
            {
              "category": "Promotions",
              "description": "This is any emails that looking to sell me things."
            },
            {
              "category": "Social",
              "description": "Any emails from social media site like Youtube, Instagram, Facebook, X."
            },
            {
              "category": "Personal",
              "description": "An email that sent from friends or family members or something personally targeting me and my name."
            },
            {
              "category": "Sales",
              "description": "Anything regarding clients sending over documents, sales, etc."
            },
            {
              "category": "Recruitments",
              "description": "Anyone who is looking for to join our team or a job."
            },
            {
              "category": "Receipts",
              "description": "These are transaction e-mails for receipts."
            },
            {
              "category": "Miscellaneous",
              "description": "Anything that doesn't fit to go in other categories."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "90a13fd6-491a-43b4-8bc7-a79bcaa1da99",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        220,
        200
      ],
      "id": "c1dc934a-237f-419e-a6d3-ce7b2520ed16",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mU4eWfWAuP6DoHUg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_1872758350130147669"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        660,
        -600
      ],
      "id": "2ba124a3-ebd0-4670-862d-b9f5bad02467",
      "name": "Promotion Mails",
      "webhookId": "52acf41a-9c0c-40f0-8bea-5168e8291ae3",
      "credentials": {
        "gmailOAuth2": {
          "id": "4kNnGaG4HSEQrIj2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "CATEGORY_SOCIAL"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        660,
        -440
      ],
      "id": "b37dccf1-8a94-42ca-b2d9-6bf2e4268156",
      "name": "Social Mails",
      "webhookId": "52acf41a-9c0c-40f0-8bea-5168e8291ae3",
      "credentials": {
        "gmailOAuth2": {
          "id": "4kNnGaG4HSEQrIj2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "CATEGORY_PERSONAL"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        660,
        -280
      ],
      "id": "654de744-e794-4a00-a235-a26bd775f205",
      "name": "Personal Mails",
      "webhookId": "52acf41a-9c0c-40f0-8bea-5168e8291ae3",
      "credentials": {
        "gmailOAuth2": {
          "id": "4kNnGaG4HSEQrIj2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_1204680552962763502"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        660,
        -120
      ],
      "id": "7a34ea06-b185-49ee-9da3-4a9ca6ed9232",
      "name": "Sales Mails",
      "webhookId": "52acf41a-9c0c-40f0-8bea-5168e8291ae3",
      "credentials": {
        "gmailOAuth2": {
          "id": "4kNnGaG4HSEQrIj2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_841951442015882935"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        660,
        40
      ],
      "id": "8a5c7414-aaae-4481-9a07-379dab519ce0",
      "name": "Recruitment Mails",
      "webhookId": "52acf41a-9c0c-40f0-8bea-5168e8291ae3",
      "credentials": {
        "gmailOAuth2": {
          "id": "4kNnGaG4HSEQrIj2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_500042668211855473"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        660,
        200
      ],
      "id": "64763118-0369-4833-a6c8-78573b5c98ca",
      "name": "Receipt Mails",
      "webhookId": "52acf41a-9c0c-40f0-8bea-5168e8291ae3",
      "credentials": {
        "gmailOAuth2": {
          "id": "4kNnGaG4HSEQrIj2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        900,
        -740
      ],
      "id": "07298acc-cda1-45b8-8780-631c32830fe5",
      "name": "Gmail",
      "webhookId": "4868be43-aa64-4ec0-9a76-f793cc24f500",
      "credentials": {
        "gmailOAuth2": {
          "id": "4kNnGaG4HSEQrIj2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_8336410353747530634"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        660,
        360
      ],
      "id": "38712a67-865f-4a40-9d67-58c782897de5",
      "name": "Miscellaneuous",
      "webhookId": "52acf41a-9c0c-40f0-8bea-5168e8291ae3",
      "credentials": {
        "gmailOAuth2": {
          "id": "4kNnGaG4HSEQrIj2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "You are an intelligent bot at summarizing emails.",
              "role": "system"
            },
            {
              "content": "=Subject:{{ $('Text Classifier').item.json.Subject }}\nEmail Body: {{ $('Text Classifier').item.json.snippet }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        900,
        -560
      ],
      "id": "d182019a-271c-4f86-91df-1fc932ba8e61",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "mU4eWfWAuP6DoHUg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1mIsTB2uOObWfSsFw56KC-eohFJp3RfkFPNqXeuVFwjw",
          "mode": "list",
          "cachedResultName": "Email Summary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mIsTB2uOObWfSsFw56KC-eohFJp3RfkFPNqXeuVFwjw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sayfa1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mIsTB2uOObWfSsFw56KC-eohFJp3RfkFPNqXeuVFwjw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Gmail Trigger').item.json.id }}",
            "Date": "={{ $now}}",
            "Subject Line": "={{ $('Gmail Trigger').item.json.Subject }}",
            "Summary": "={{ $json.message.content }}",
            "Snippet": "={{ $('Text Classifier').item.json.snippet }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject Line",
              "displayName": "Subject Line",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Snippet",
              "displayName": "Snippet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1280,
        -560
      ],
      "id": "02a85642-e787-4571-90a4-5efa8937d327",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FZg7NyD4oEcveQKS",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Text Classifier').item.json.Subject }}",
        "message": "={{ $json.message.content }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.id }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1280,
        -340
      ],
      "id": "122f85a2-f791-45fb-b80a-50de2a9a5ca3",
      "name": "Gmail1",
      "webhookId": "1158f13f-447e-416a-94c4-20f9da1a4594",
      "credentials": {
        "gmailOAuth2": {
          "id": "4kNnGaG4HSEQrIj2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "You are an intelligent bot at replying emails. Please sign off all emails with that: \n\"Best,\nYour Name\"",
              "role": "system"
            },
            {
              "content": "=Here is the email to reply to:\n\nSubject:{{ $('Text Classifier').item.json.Subject }}\nEmail Body: {{ $('Text Classifier').item.json.snippet }}\nThis email is from: {{ $('Text Classifier').item.json.From }}"
            },
            {
              "content": "{\n\"subject_line\": \"\",\n\"email_body\": \"\"\n}",
              "role": "assistant"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        900,
        -340
      ],
      "id": "5088aedb-7e36-4a56-9f8b-64e993861a22",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "mU4eWfWAuP6DoHUg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "You are an intelligent bot at replying emails. Please sign off all emails with that: \n\"Best,\nSedat\"",
              "role": "system"
            },
            {
              "content": "=Here is the email to reply to:\n\nSubject:{{ $('Text Classifier').item.json.Subject }}\nEmail Body: {{ $('Text Classifier').item.json.snippet }}\nThis email is from: {{ $('Text Classifier').item.json.From }}"
            },
            {
              "content": "{\n\"subject_line\": \"\",\n\"email_body\": \"\"\n}",
              "role": "assistant"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        900,
        -120
      ],
      "id": "5495c71e-9fd8-41a2-9fa1-11f284668b85",
      "name": "OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "mU4eWfWAuP6DoHUg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "You are an intelligent bot at replying emails. Please sign off all emails with that: \n\"Best,\nSedat\"",
              "role": "system"
            },
            {
              "content": "=Here is the email to reply to:\n\nSubject:{{ $('Text Classifier').item.json.Subject }}\nEmail Body: {{ $('Text Classifier').item.json.snippet }}\nThis email is from: {{ $('Text Classifier').item.json.From }}"
            },
            {
              "content": "{\n\"subject_line\": \"\",\n\"email_body\": \"\"\n}",
              "role": "assistant"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        900,
        100
      ],
      "id": "a5d7119c-aa32-4946-804e-92adac93d863",
      "name": "OpenAI3",
      "credentials": {
        "openAiApi": {
          "id": "mU4eWfWAuP6DoHUg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "You are an intelligent bot at replying emails. Please sign off all emails with that: \n\"Best,\nSedat\"",
              "role": "system"
            },
            {
              "content": "=Here is the email to reply to:\n\nSubject:{{ $('Text Classifier').item.json.Subject }}\nEmail Body: {{ $('Text Classifier').item.json.snippet }}\nThis email is from: {{ $('Text Classifier').item.json.From }}"
            },
            {
              "content": "{\n\"subject_line\": \"\",\n\"email_body\": \"\"\n}",
              "role": "assistant"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        920,
        440
      ],
      "id": "34bbfa2a-e380-4cd8-9c88-7ceaecff824e",
      "name": "OpenAI4",
      "credentials": {
        "openAiApi": {
          "id": "mU4eWfWAuP6DoHUg",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        900,
        260
      ],
      "id": "71f51266-b067-41aa-a7bd-5f7f6eb6fdc2",
      "name": "Gmail5",
      "webhookId": "4868be43-aa64-4ec0-9a76-f793cc24f500",
      "credentials": {
        "gmailOAuth2": {
          "id": "4kNnGaG4HSEQrIj2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Text Classifier').item.json.Subject }}",
        "message": "={{ $json.message.content }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.id }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1280,
        -120
      ],
      "id": "a37f4fbd-fbd2-4ef1-8772-abf0e6679b51",
      "name": "Gmail2",
      "webhookId": "1158f13f-447e-416a-94c4-20f9da1a4594",
      "credentials": {
        "gmailOAuth2": {
          "id": "4kNnGaG4HSEQrIj2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Text Classifier').item.json.Subject }}",
        "message": "={{ $json.message.content }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.id }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1280,
        100
      ],
      "id": "39d5b12a-3bea-47fe-b821-a472ff406301",
      "name": "Gmail3",
      "webhookId": "1158f13f-447e-416a-94c4-20f9da1a4594",
      "credentials": {
        "gmailOAuth2": {
          "id": "4kNnGaG4HSEQrIj2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Text Classifier').item.json.Subject }}",
        "message": "={{ $json.message.content }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.id }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1280,
        440
      ],
      "id": "b877be91-24bf-471f-bb04-8e466f80731b",
      "name": "Gmail4",
      "webhookId": "1158f13f-447e-416a-94c4-20f9da1a4594",
      "credentials": {
        "gmailOAuth2": {
          "id": "4kNnGaG4HSEQrIj2",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Promotion Mails",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Social Mails",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Personal Mails",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sales Mails",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Recruitment Mails",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Receipt Mails",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Miscellaneuous",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Promotion Mails": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Social Mails": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Personal Mails": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "main": [
        [
          {
            "node": "Gmail2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sales Mails": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI3": {
      "main": [
        [
          {
            "node": "Gmail3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI4": {
      "main": [
        [
          {
            "node": "Gmail4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Miscellaneuous": {
      "main": [
        [
          {
            "node": "OpenAI4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recruitment Mails": {
      "main": [
        [
          {
            "node": "OpenAI3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receipt Mails": {
      "main": [
        [
          {
            "node": "Gmail5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6309021e-9b14-4e5c-9297-3c9455de4bb9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "43df8f59b4d820b48b7ff5f5b92bafb1af469489d3ac09a801a523278af6c64e"
  },
  "id": "83jZwwrvNnhOVFNX",
  "tags": []
}