Gmail_Classifier.json
{
  "name": "Gmail Classifier",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Subject: {{ $json.Subject }}\n\nEmail Body: {{ $json.snippet }}\n\nThis is an email classifier that helps me categorise emails by their correct label.",
        "categories": {
          "categories": [
            {
              "category": "Promotions",
              "description": "This is any emails that looking to sell me things."
            },
            {
              "category": "Social",
              "description": "Any emails from social media site like Youtube, Instagram, Facebook, X."
            },
            {
              "category": "Personal",
              "description": "An email that sent from friends or family members or something personally targeting me and my name."
            },
            {
              "category": "Sales",
              "description": "Anything regarding clients sending over documents, sales, etc."
            },
            {
              "category": "Recruitments",
              "description": "Anyone who is looking for to join our team or a job."
            },
            {
              "category": "Receipts",
              "description": "These are transaction e-mails for receipts."
            },
            {
              "category": "Miscellaneous",
              "description": "Anything that doesn't fit to go in other categories."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        220,
        200
      ],
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": []
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        660,
        -600
      ],
      "name": "Promotion Mails",
      "webhookId": "52acf41a-9c0c-40f0-8bea-5168e8291ae3",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": []
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        660,
        -440
      ],
      "name": "Social Mails",
      "webhookId": "52acf41a-9c0c-40f0-8bea-5168e8291ae3",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": []
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        660,
        -280
      ],
      "name": "Personal Mails",
      "webhookId": "52acf41a-9c0c-40f0-8bea-5168e8291ae3",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": []
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        660,
        -120
      ],
      "name": "Sales Mails",
      "webhookId": "52acf41a-9c0c-40f0-8bea-5168e8291ae3",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": []
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        660,
        40
      ],
      "name": "Recruitment Mails",
      "webhookId": "52acf41a-9c0c-40f0-8bea-5168e8291ae3",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": []
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        660,
        200
      ],
      "name": "Receipt Mails",
      "webhookId": "52acf41a-9c0c-40f0-8bea-5168e8291ae3",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        900,
        -740
      ],
      "name": "Gmail",
      "webhookId": "4868be43-aa64-4ec0-9a76-f793cc24f500",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": []
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        660,
        360
      ],
      "name": "Miscellaneuous",
      "webhookId": "52acf41a-9c0c-40f0-8bea-5168e8291ae3",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "You are an intelligent bot at summarizing emails.",
              "role": "system"
            },
            {
              "content": "=Subject:{{ $('Text Classifier').item.json.Subject }}\nEmail Body: {{ $('Text Classifier').item.json.snippet }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        900,
        -560
      ],
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1mIsTB2uOObWfSsFw56KC-eohFJp3RfkFPNqXeuVFwjw",
          "mode": "list",
          "cachedResultName": "Email Summary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mIsTB2uOObWfSsFw56KC-eohFJp3RfkFPNqXeuVFwjw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sayfa1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1mIsTB2uOObWfSsFw56KC-eohFJp3RfkFPNqXeuVFwjw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Gmail Trigger').item.json.id }}",
            "Date": "={{ $now}}",
            "Subject Line": "={{ $('Gmail Trigger').item.json.Subject }}",
            "Summary": "={{ $json.message.content }}",
            "Snippet": "={{ $('Text Classifier').item.json.snippet }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject Line",
              "displayName": "Subject Line",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Snippet",
              "displayName": "Snippet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1280,
        -560
      ],
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Text Classifier').item.json.Subject }}",
        "message": "={{ $json.message.content }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.id }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1280,
        -340
      ],
      "name": "Gmail1",
      "webhookId": "1158f13f-447e-416a-94c4-20f9da1a4594",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "You are an intelligent bot at replying emails. Please sign off all emails with that: \n\"Best,\nYour Name\"",
              "role": "system"
            },
            {
              "content": "=Here is the email to reply to:\n\nSubject:{{ $('Text Classifier').item.json.Subject }}\nEmail Body: {{ $('Text Classifier').item.json.snippet }}\nThis email is from: {{ $('Text Classifier').item.json.From }}"
            },
            {
              "content": "{\n\"subject_line\": \"\",\n\"email_body\": \"\"\n}",
              "role": "assistant"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        900,
        -340
      ],
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "You are an intelligent bot at replying emails. Please sign off all emails with that: \n\"Best,\nSedat\"",
              "role": "system"
            },
            {
              "content": "=Here is the email to reply to:\n\nSubject:{{ $('Text Classifier').item.json.Subject }}\nEmail Body: {{ $('Text Classifier').item.json.snippet }}\nThis email is from: {{ $('Text Classifier').item.json.From }}"
            },
            {
              "content": "{\n\"subject_line\": \"\",\n\"email_body\": \"\"\n}",
              "role": "assistant"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        900,
        -120
      ],
      "name": "OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "You are an intelligent bot at replying emails. Please sign off all emails with that: \n\"Best,\nSedat\"",
              "role": "system"
            },
            {
              "content": "=Here is the email to reply to:\n\nSubject:{{ $('Text Classifier').item.json.Subject }}\nEmail Body: {{ $('Text Classifier').item.json.snippet }}\nThis email is from: {{ $('Text Classifier').item.json.From }}"
            },
            {
              "content": "{\n\"subject_line\": \"\",\n\"email_body\": \"\"\n}",
              "role": "assistant"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        900,
        100
      ],
      "name": "OpenAI3",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "You are an intelligent bot at replying emails. Please sign off all emails with that: \n\"Best,\nSedat\"",
              "role": "system"
            },
            {
              "content": "=Here is the email to reply to:\n\nSubject:{{ $('Text Classifier').item.json.Subject }}\nEmail Body: {{ $('Text Classifier').item.json.snippet }}\nThis email is from: {{ $('Text Classifier').item.json.From }}"
            },
            {
              "content": "{\n\"subject_line\": \"\",\n\"email_body\": \"\"\n}",
              "role": "assistant"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        920,
        440
      ],
      "name": "OpenAI4",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        900,
        260
      ],
      "name": "Gmail5",
      "webhookId": "4868be43-aa64-4ec0-9a76-f793cc24f500",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Text Classifier').item.json.Subject }}",
        "message": "={{ $json.message.content }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.id }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1280,
        -120
      ],
      "name": "Gmail2",
      "webhookId": "1158f13f-447e-416a-94c4-20f9da1a4594",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Text Classifier').item.json.Subject }}",
        "message": "={{ $json.message.content }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.id }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1280,
        100
      ],
      "name": "Gmail3",
      "webhookId": "1158f13f-447e-416a-94c4-20f9da1a4594",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Text Classifier').item.json.Subject }}",
        "message": "={{ $json.message.content }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.id }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.From }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1280,
        440
      ],
      "name": "Gmail4",
      "webhookId": "1158f13f-447e-416a-94c4-20f9da1a4594",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Promotion Mails",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Social Mails",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Personal Mails",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sales Mails",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Recruitment Mails",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Receipt Mails",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Miscellaneuous",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Promotion Mails": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Social Mails": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Personal Mails": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "main": [
        [
          {
            "node": "Gmail2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sales Mails": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI3": {
      "main": [
        [
          {
            "node": "Gmail3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI4": {
      "main": [
        [
          {
            "node": "Gmail4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Miscellaneuous": {
      "main": [
        [
          {
            "node": "OpenAI4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recruitment Mails": {
      "main": [
        [
          {
            "node": "OpenAI3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Receipt Mails": {
      "main": [
        [
          {
            "node": "Gmail5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}